<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span fxLayout="row" fxLayoutAlign="start center">
      <button fxHide.gt-xs mat-icon-button (click)="sideNavService.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>MEAN Skeleton</span>
    </span>

    <div fxHide.lt-sm>
      <a mat-button color="accent" routerLinkActive="active" routerLink="/home"
        >Home</a
      >
      <a mat-button color="accent" routerLinkActive="active" routerLink="/login"
        >Login</a
      >
      <a
        mat-button
        color="accent"
        routerLinkActive="active"
        routerLink="/signup"
        >SignUp</a
      >
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    [fixedInViewport]="media.isActive('xs')"
    #sidenav
    [mode]="media.isActive('xs') ? 'over' : 'side'"
  >
    <app-side-navigation></app-side-navigation>
  </mat-sidenav>
</mat-sidenav-container>

<router-outlet></router-outlet>
